In [1]:
from funciones_b import *
pd.set_option('display.max_rows', None)

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\brend\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\brend\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

# Word counting

## The 20's

In [2]:
lyrics_df_20 = pd.read_csv("lyrics_20_senti.csv")

In [3]:
lyrics_20_words = count_words(lyrics_df_20)

In [5]:
Total_word_20 = lyrics_20_words['Word Counts'].sum()
print("Total words 20s:",Total_word_20)
Total_unique_20 = lyrics_20_words['Unique Word Counts'].sum()
print("Unique Word Counts 20s:",Total_unique_20)

Total words 20s: 5263
Unique Word Counts 20s: 2499

In [261]:
lyrics_20_words[lyrics_20_words['Word Counts']==lyrics_20_words['Word Counts'].max()]

,Unnamed: 0,Title,Artists,Album_name,Duration_ms,Lyrics,Sentiment,neg,neu,pos,compound,Word Counts,Unique Word Counts
11,12,If You Knew Susie (Like I Know Susie),Eddie Cantor,The Columbia Years: 1922-1940,171506,"if you knew susie if you knew susie, like i k...","{'neg': 0.064, 'neu': 0.665, 'pos': 0.271, 'co...",0.064,0.665,0.271,0.9984,342,131

In [262]:
lyrics_20_words[lyrics_20_words['Word Counts']==lyrics_20_words['Word Counts'].min()]

,Unnamed: 0,Title,Artists,Album_name,Duration_ms,Lyrics,Sentiment,neg,neu,pos,compound,Word Counts,Unique Word Counts
13,14,Margie,Eddie Cantor,Oh Gee!,176823,"margie my little margie, i'm always thinkin' o...","{'neg': 0.0, 'neu': 0.835, 'pos': 0.165, 'comp...",0.0,0.835,0.165,0.8971,64,51

## The 30's

In [172]:
lyrics_30_senti = pd.read_csv('lyrics_30_senti.csv',index_col=0)

In [173]:
lyrics_30_senti.rename(columns={'lyrics':'Lyrics'},inplace=True)

In [174]:
lyrics_30_words = count_words(lyrics_30_senti)

In [175]:
lyrics_30_words.to_csv("lyrics_30_words.csv")

In [176]:
Total_word_30 = lyrics_30_words['Word Counts'].sum()
print("Total words 30s:",Total_word_30)
Total_unique_30 = lyrics_30_words['Unique Word Counts'].sum()
print("Unique Word Counts 30s:",Total_unique_30)

Total words 30s: 5702
Unique Word Counts 30s: 2885

In [263]:
lyrics_30_words[lyrics_30_words['Word Counts']==lyrics_30_words['Word Counts'].max()]

,Title,Artists,Duration_ms,Lyrics,Sentiment,neg,neu,pos,compound,Word Counts,Unique Word Counts
18,Bei Mir Bist Du Schon (Means That You're Grand),The Andrews Sisters,183973,bei mir bist du schoen of all the boys i've k...,"{'neg': 0.006, 'neu': 0.829, 'pos': 0.164, 'co...",0.006,0.829,0.164,0.9906,249,103

In [264]:
lyrics_30_words[lyrics_30_words['Word Counts']==lyrics_30_words['Word Counts'].min()]

,Title,Artists,Duration_ms,Lyrics,Sentiment,neg,neu,pos,compound,Word Counts,Unique Word Counts
36,Three Little Words,Duke Ellington,183173,"three little words three little words oh, w...","{'neg': 0.029, 'neu': 0.725, 'pos': 0.246, 'co...",0.029,0.725,0.246,0.9551,61,46

## The 40's

In [73]:
lyrics_40_senti = pd.read_csv('lyrics_40_senti.csv',index_col=0)

In [74]:
lyrics_40_words = count_words(lyrics_40_senti)
lyrics_40_words.to_csv("lyrics_40_words.csv")

In [294]:
lyrics_40_words['new_col'] = range(1, len(lyrics_40_words) + 1)

In [296]:
lyrics_40_words_s = lyrics_40_words[lyrics_40_words['new_col']<51]
lyrics_40_words_s

,Decade,Year,title,author,order,Title,Popularity,Artists,Album_name,Duration_ms,Lyrics,Sentiment,neg,neu,pos,compound,Word Counts,Unique Word Counts,new_col
0,1940,1942,White Christmas,Bing Crosby,1,White Christmas,49.0,Bing Crosby,Holiday Inn (Original Motion Picture Soundtrack),177480.0,white christmas i'm dreaming of a white christ...,"{'neg': 0.0, 'neu': 0.854, 'pos': 0.146, 'comp...",0.000,0.854,0.146,0.9501,110,39,1
1,1940,1941,Stardust,Artie Shaw,2,Stardust,42.0,Artie Shaw,Begin The Beguine,214666.0,stardust and now the purple dusk of twilight t...,"{'neg': 0.062, 'neu': 0.775, 'pos': 0.162, 'co...",0.062,0.775,0.162,0.9640,154,95,2
2,1940,1949,"Rudolph, the Red-Nosed Reindeer",Gene Autry,3,Rudolph the Red-Nosed Reindeer,43.0,Gene Autry,Rudolph The Red Nosed Reindeer And Other Chris...,186733.0,rudolph the red-nosed reindeer you know dasher...,"{'neg': 0.0, 'neu': 0.774, 'pos': 0.226, 'comp...",0.000,0.774,0.226,0.9960,200,80,3
4,1940,1943,Paper Doll,The Mills Brothers,5,Paper Doll,42.0,The Mills Brothers,Souvenir Album,151613.0,paper doll i'm gonna buy a paper doll that i c...,"{'neg': 0.02, 'neu': 0.846, 'pos': 0.134, 'com...",0.020,0.846,0.134,0.9718,226,96,4
5,1940,1942,As Time Goes By,Dooley Wilson,6,As Time Goes By,40.0,Dooley Wilson,Casablanca (Original Motion Picture Soundtrack),164586.0,as time goes by you must remember this a kiss ...,"{'neg': 0.146, 'neu': 0.564, 'pos': 0.289, 'co...",0.146,0.564,0.289,0.9894,170,74,5
6,1940,1947,Near You,Francis Craig,7,Near You,18.0,Francis Craig,Bewitching Piano,171533.0,"near you there's just one place for me, near ...","{'neg': 0.011, 'neu': 0.776, 'pos': 0.213, 'co...",0.011,0.776,0.213,0.9896,163,75,6
7,1940,1940,I’ll Never Smile Again,Tommy Dorsey,8,I'll Never Smile Again,61.0,Tommy Dorsey,The Seventeen Number Ones,189466.0,i’ll never smile again i'll never smile again ...,"{'neg': 0.147, 'neu': 0.589, 'pos': 0.264, 'co...",0.147,0.589,0.264,0.9574,93,41,7
8,1940,1941,Chattanooga Choo Choo,Glenn Miller,9,Chattanooga Choo Choo,43.0,Glenn Miller,Ultimate Big Band Collection: Glenn Miller,206800.0,"chattanooga choo choo pardon me, boy is that t...","{'neg': 0.026, 'neu': 0.874, 'pos': 0.1, 'comp...",0.026,0.874,0.100,0.9089,154,100,8
9,1940,1946,The Christmas Song,Nat “King” Cole,10,The Christmas Song (Merry Christmas To You),52.0,Nat King Cole,The Christmas Song (Expanded Edition),192160.0,the christmas song chestnuts roasting on an o...,"{'neg': 0.031, 'neu': 0.874, 'pos': 0.095, 'co...",0.031,0.874,0.095,0.8316,113,95,9
11,1940,1944,Swinging on a Star,Bing Crosby,12,Swinging On A Star - Single Version,45.0,Bing Crosby,Swinging On A Star,151866.0,swinging on a star - single version would you ...,"{'neg': 0.139, 'neu': 0.781, 'pos': 0.081, 'co...",0.139,0.781,0.081,-0.9741,285,125,10
14,1940,1940,When You Wish Upon a Star,Cliff Edwards,15,When You Wish Upon a Star,58.0,Cliff Edwards,Pinocchio,195066.0,when you wish upon a star when you wish upon ...,"{'neg': 0.047, 'neu': 0.609, 'pos': 0.344, 'co...",0.047,0.609,0.344,0.9878,87,51,11
16,1940,1944,I’ll Be Seeing You,Bing Crosby,17,I'll Be Seeing You,23.0,Bing Crosby,20th Century Masters: The Millennium Collectio...,170866.0,i’ll be seeing you i'll be seeing you in all t...,"{'neg': 0.0, 'neu': 0.927, 'pos': 0.073, 'comp...",0.000,0.927,0.073,0.7506,111,51,12
17,1940,1940,Frenesi,Artie Shaw,18,Frenesi,37.0,Artie Shaw,Ultimate Big Band Collection: Artie Shaw,182413.0,frenesi and now the purple dusk of twilight ti...,"{'neg': 0.062, 'neu': 0.775, 'pos': 0.162, 'co...",0.062,0.775,0.162,0.9640,154,97,13
18,1940,1946,The Gypsy,The Ink Spots,19,The Gypsy,32.0,The Ink Spots,The Anthology,164533.0,the gypsy in a quaint caravan there's a lady t...,"{'neg': 0.018, 'neu': 0.689, 'pos': 0.293, 'co...",0.018,0.689,0.293,0.9947,154,70,14
19,1940,1943,I’ve Heard That Song Before,Harry James,20,I've Heard That Song Before,48.0,Harry James,Trumpet Blues: The Best Of Harry James,175866.0,"i’ve heard that song before it seems to me, i...","{'neg': 0.0, 'neu': 0.776, 'pos': 0.224, 'comp...",0.000,0.776,0.224,0.9552,79,52,15
21,1940,1949,Some Enchanted Evening,Perry Como,22,Some Enchanted Evening,27.0,Perry Como,All Time Greatest Hits,208466.0,"some enchanted evening some enchanted evening,...","{'neg': 0.053, 'neu': 0.753, 'pos': 0.193, 'co...",0.053,0.753,0.193,0.9755,145,78,16
22,1940,1942,For Me and My Gal,Judy Garland,23,For Me And My Gal,28.0,Judy Garland,Greatest Performances Original Recordings,149893.0,"for me and my gal ding, dong ding, dong do y...","{'neg': 0.0, 'neu': 0.968, 'pos': 0.032, 'comp...",0.000,0.968,0.032,0.7877,245,87,17
23,1940,1944,Don’t Fence Me In,Bing Crosby,24,Don't Fence Me In - Single Version,39.0,Bing Crosby,Bing-His Legendary Years 1931-1957,186960.0,"don’t fence me in - single version oh, give me...","{'neg': 0.055, 'neu': 0.884, 'pos': 0.06, 'com...",0.055,0.884,0.060,0.1027,263,83,18
24,1940,1941,Take the ‘A’ Train,Duke Ellington,25,"Take the ""A"" Train",48.0,Duke Ellington,Piano In The Background,331800.0,"take the a train you must take the ""a""-train t...","{'neg': 0.06, 'neu': 0.94, 'pos': 0.0, 'compou...",0.060,0.940,0.000,-0.4215,62,38,19
26,1940,1948,Nature Boy,Nat “King” Cole,27,Nature Boy,54.0,Nat King Cole,The Nat King Cole Story,173533.0,"nature boy there was a boy a very strange, en...","{'neg': 0.071, 'neu': 0.615, 'pos': 0.315, 'co...",0.071,0.615,0.315,0.9901,91,57,20
28,1940,1944,This Land Is Your Land,Woody Guthrie,29,This Land is Your Land,46.0,Woody Guthrie,"This Land is Your Land: The Asch Recordings, V...",139693.0,this land is your land this land is your land...,"{'neg': 0.0, 'neu': 0.973, 'pos': 0.027, 'comp...",0.000,0.973,0.027,0.7926,293,110,21
29,1940,1943,You’ll Never Know,Dick Haymes,30,You'll Never Know,37.0,Dick Haymes,Stardust,165253.0,you’ll never know you'll never know just how m...,"{'neg': 0.046, 'neu': 0.819, 'pos': 0.135, 'co...",0.046,0.819,0.135,0.9528,141,50,22
30,1940,1943,That Old Black Magic,Glenn Miller,31,That Old Black Magic,27.0,Glenn Miller,The Complete Glenn Miller and His Orchestra,183933.0,that old black magic that old black magic has ...,"{'neg': 0.017, 'neu': 0.79, 'pos': 0.193, 'com...",0.017,0.790,0.193,0.9870,153,85,23
33,1940,1945,Ac-Cent-Tchu-ate the Positive,Johnny Mercer,34,Ac-Cent-Tchu-Ate The Positive,41.0,Johnny Mercer,Accentuate The Positive!,168773.0,ac-cent-tchu-ate the positive gather 'round m...,"{'neg': 0.091, 'neu': 0.739, 'pos': 0.17, 'com...",0.091,0.739,0.170,0.9446,198,95,24
35,1940,1943,Pistol Packin’ Mama,Al Dexter,36,Pistol Packin' Mama,32.0,Al Dexter,Presenting Al Dexter,167880.0,pistol packin’ mama drinking beer in a cabare...,"{'neg': 0.091, 'neu': 0.868, 'pos': 0.041, 'co...",0.091,0.868,0.041,-0.8335,143,86,25
36,1940,1945,Let It Snow! Let It Snow! Let It Snow!,Vaughn Monroe,37,"Let It Snow, Let It Snow, Let It Snow",20.0,Vaughn Monroe,Racing With The Moon: An Anthology 1940-56,184777.0,"let it snow! let it snow! let it snow! oh, th...","{'neg': 0.124, 'neu': 0.717, 'pos': 0.159, 'co...",0.124,0.717,0.159,0.9025,185,72,26
44,1940,1949,I’m So Lonesome I Could Cry,Hank Williams,45,I'm So Lonesome I Could Cry,47.0,Hank Williams,"The Legend Lives Anew: Hank Williams, Sr. With...",169066.0,i’m so lonesome i could cry hear that lonesom...,"{'neg': 0.333, 'neu': 0.648, 'pos': 0.019, 'co...",0.333,0.648,0.019,-0.9896,103,70,27
45,1940,1942,"Jingle, Jangle, Jingle",Kay Kyser,46,"Jingle, Jangle, Jingle",39.0,Kay Kyser,Leads the Band!,199583.0,"jingle jangle jingle yipee yay, there'll be no...","{'neg': 0.135, 'neu': 0.787, 'pos': 0.079, 'co...",0.135,0.787,0.079,-0.8254,148,61,28
46,1940,1942,Moonlight Cocktail,Glenn Miller,47,Moonlight Cocktail,32.0,Glenn Miller,Ultimate Big Band Collection: Glenn Miller,196666.0,moonlight cocktail couple of jiggers of moonli...,"{'neg': 0.02, 'neu': 0.844, 'pos': 0.136, 'com...",0.020,0.844,0.136,0.9559,162,79,29
47,1940,1942,I’ve Got a Gal in Kalamazoo,Glenn Miller,48,(I've Got a Gal in) Kalamazoo,34.0,Glenn Miller,Ultimate Big Band Collection: Glenn Miller,194800.0,kalamazoo a-b-c-d-e-f-g-h i got a gal don't ...,"{'neg': 0.0, 'neu': 0.945, 'pos': 0.055, 'comp...",0.000,0.945,0.055,0.5719,65,51,30
48,1940,1943,People Will Say We’re In Love,Bing Crosby,49,People Will Say We're In Love - Version 2,20.0,Bing Crosby,Bing & Rosie: The Crosby - Clooney Radio Sessions,151906.0,people will say we’re in love sung in the broa...,"{'neg': 0.069, 'neu': 0.729, 'pos': 0.201, 'co...",0.069,0.729,0.201,0.9708,116,70,31
50,1940,1945,There! I’ve Said It Again,Vaughn Monroe,51,"There, I've Said It Again",30.0,Vaughn Monroe,Racing With The Moon: An Anthology 1940-56,189700.0,"there! i’ve said it again i love you, there's ...","{'neg': 0.023, 'neu': 0.66, 'pos': 0.316, 'com...",0.023,0.660,0.316,0.9956,144,69,32
51,1940,1949,That Lucky Old Sun,Frankie Laine,52,That Lucky Old Sun,28.0,Frankie Laine,16 Most Requested Songs,210400.0,"that lucky old sun up in the morning, out on t...","{'neg': 0.131, 'neu': 0.609, 'pos': 0.26, 'com...",0.131,0.609,0.260,0.9846,155,68,33
52,1940,1946,I Love You for Sentimental Reasons,The Nat “King” Cole Trio,53,(I Love You) For Sentimental Reasons,32.0,Nat King Cole Trio,Unforgettable,172666.0,for sentimental reasons i love you for sentim...,"{'neg': 0.014, 'neu': 0.526, 'pos': 0.46, 'com...",0.014,0.526,0.460,0.9963,96,41,34
53,1940,1942,Tangerine,Jimmy Dorsey’s Orchestra,54,Tangerine,43.0,Jimmy Dorsey & His Orchestra,Contrasts,192533.0,tangerine tangerine she is all they claim wit...,"{'neg': 0.073, 'neu': 0.785, 'pos': 0.143, 'co...",0.073,0.785,0.143,0.8689,119,70,35
54,1940,1941,Daddy,Sammy Kaye,55,Daddy,33.0,Sammy Kaye,Best Of The Big Bands,176133.0,daddy ladada ladada da dada ladada ladada da d...,"{'neg': 0.016, 'neu': 0.727, 'pos': 0.257, 'co...",0.016,0.727,0.257,0.9957,202,89,36
55,1940,1941,Boogie Woogie Bugle Boy,The Andrews Sisters,56,Boogie Woogie Bugle Boy,50.0,The Andrews Sisters,Rarities,161933.0,boogie woogie bugle boy he was a famous trumpe...,"{'neg': 0.005, 'neu': 0.905, 'pos': 0.09, 'com...",0.005,0.905,0.090,0.9750,320,116,37
56,1940,1941,God Bless the Child,Billie Holiday,57,God Bless The Child,41.0,Billie Holiday,The Lady Sings,190733.0,god bless the child them that's got shall have...,"{'neg': 0.068, 'neu': 0.688, 'pos': 0.244, 'co...",0.068,0.688,0.244,0.9877,168,78,38
57,1940,1940,Tuxedo Junction,Glenn Miller,58,Tuxedo Junction,40.0,Glenn Miller,Pure Gold,205160.0,tuxedo junction feelin' low rockin' slow i wan...,"{'neg': 0.036, 'neu': 0.89, 'pos': 0.074, 'com...",0.036,0.890,0.074,0.7351,207,74,39
58,1940,1944,The Trolley Song,Judy Garland,59,The Trolley Song,33.0,Judy Garland,Meet Me In St. Louis (Original Motion Picture ...,244733.0,the trolley song with my high-starched collar...,"{'neg': 0.108, 'neu': 0.771, 'pos': 0.121, 'co...",0.108,0.771,0.121,0.9142,305,144,40
61,1940,1945,It Might As Well Be Spring,Dick Haymes,62,It Might as Well Be Spring,25.0,Dick Haymes,Presenting Dick Haymes,188453.0,it might as well be spring i'm as restless as ...,"{'neg': 0.092, 'neu': 0.829, 'pos': 0.078, 'co...",0.092,0.829,0.078,-0.3071,143,82,41
62,1940,1942,There Are Such Things,Tommy Dorsey,63,There Are Such Things,22.0,Frank Sinatra,The Song Is You,164226.0,"there are such things a heart that's true, the...","{'neg': 0.016, 'neu': 0.685, 'pos': 0.299, 'co...",0.016,0.685,0.299,0.9838,91,46,42
63,1940,1942,Don’t Sit Under the Apple Tree with Anyone Els...,Glenn Miller,64,Don't Sit Under the Apple Tree (with Anyone El...,33.0,Glenn Miller,Ultimate Big Band Collection: Glenn Miller,190746.0,don’t sit under the apple tree don't sit unde...,"{'neg': 0.009, 'neu': 0.835, 'pos': 0.156, 'co...",0.009,0.835,0.156,0.9932,289,91,43
64,1940,1948,Manana Is Soon Enough for Me,Peggy Lee,65,Manana (Is Soon Enough For Me),19.0,Peggy Lee,All Aglow Again!,178253.0,mañana the faucet she is dripping and the fen...,"{'neg': 0.07, 'neu': 0.893, 'pos': 0.037, 'com...",0.070,0.893,0.037,-0.7923,229,124,44
65,1940,1946,To Each His Own,Eddy Howard,66,To Each His Own,28.0,Eddy Howard,The Best Of The Mercury Years,184293.0,to each his own a rose must remain with the su...,"{'neg': 0.064, 'neu': 0.822, 'pos': 0.114, 'co...",0.064,0.822,0.114,0.7902,160,74,45
66,1940,1947,Smoke! Smoke! Smoke! That Cigarette,Tex Williams,67,Smoke! Smoke! Smoke! (That Cigarette),44.0,Tex Williams,Smoke Smoke Smoke,163333.0,smoke! smoke! smoke! now i'm a fellow with a ...,"{'neg': 0.049, 'neu': 0.797, 'pos': 0.154, 'co...",0.049,0.797,0.154,0.9927,362,184,46
69,1940,1944,Long Ago and Far Away,Helen Forrest,70,Long Ago And Far Away,5.0,Dick Haymes,Little White Lies,209197.0,long ago and far away some sunday morning is g...,"{'neg': 0.0, 'neu': 0.888, 'pos': 0.112, 'comp...",0.000,0.888,0.112,0.8398,83,58,47
70,1940,1949,You’re Breaking My Heart,Vic Damone,71,You're Breaking My Heart,23.0,Vic Damone,Angela Mia,203200.0,you’re breaking my heart you're breaking my h...,"{'neg': 0.034, 'neu': 0.682, 'pos': 0.285, 'co...",0.034,0.682,0.285,0.9920,139,86,48
74,1940,1941,There’ll Be Some Changes Made,Benny Goodman,75,There'll Be Some Changes Made,18.0,Benny Goodman,Benny Goodman & His Great Vocalists,165840.0,"there’ll be some changes made they say, 'don't...","{'neg': 0.008, 'neu': 0.891, 'pos': 0.101, 'co...",0.008,0.891,0.101,0.9861,296,144,49
75,1940,1948,Move on Up a Little Higher,Mahalia Jackson,76,I Will Move On Up a Little Higher,17.0,Mahalia Jackson,"Gospels, Spirituals, & Hymns",325733.0,i will move on up a little higher one a-these ...,"{'neg': 0.021, 'neu': 0.88, 'pos': 0.099, 'com...",0.021,0.880,0.099,0.9850,381,133,50

In [297]:
Total_word_40_s = lyrics_40_words_s['Word Counts'].sum()
print("Total words 40s:",Total_word_40_s)
Total_unique_40_s = lyrics_40_words_s['Unique Word Counts'].sum()
print("Unique Word Counts 40s:",Total_unique_40_s)

Total words 40s: 8655
Unique Word Counts 40s: 4084

In [299]:
lyrics_40_words_s[lyrics_40_words_s['Word Counts']==lyrics_40_words_s['Word Counts'].max()]

,Decade,Year,title,author,order,Title,Popularity,Artists,Album_name,Duration_ms,Lyrics,Sentiment,neg,neu,pos,compound,Word Counts,Unique Word Counts,new_col
75,1940,1948,Move on Up a Little Higher,Mahalia Jackson,76,I Will Move On Up a Little Higher,17.0,Mahalia Jackson,"Gospels, Spirituals, & Hymns",325733.0,i will move on up a little higher one a-these ...,"{'neg': 0.021, 'neu': 0.88, 'pos': 0.099, 'com...",0.021,0.88,0.099,0.985,381,133,50

In [300]:
lyrics_40_words_s[lyrics_40_words_s['Word Counts']==lyrics_40_words_s['Word Counts'].min()]

,Decade,Year,title,author,order,Title,Popularity,Artists,Album_name,Duration_ms,Lyrics,Sentiment,neg,neu,pos,compound,Word Counts,Unique Word Counts,new_col
24,1940,1941,Take the ‘A’ Train,Duke Ellington,25,"Take the ""A"" Train",48.0,Duke Ellington,Piano In The Background,331800.0,"take the a train you must take the ""a""-train t...","{'neg': 0.06, 'neu': 0.94, 'pos': 0.0, 'compou...",0.06,0.94,0.0,-0.4215,62,38,19

## The 50's

In [191]:
lyrics_50_senti = pd.read_csv('lyrics_50_senti.csv',index_col=0)

In [193]:
lyrics_50_words = count_words(lyrics_50_senti)
lyrics_50_words.to_csv("lyrics_50_words.csv")

In [315]:
lyrics_50_words['new_col'] = range(1, len(lyrics_50_words) + 1)
lyrics_50_words_s = lyrics_50_words[lyrics_50_words['new_col']<51]

Total_word_50_s = lyrics_50_words_s['Word Counts'].sum()
print("Total words 50s:",Total_word_50_s)
Total_unique_50_s = lyrics_50_words_s['Unique Word Counts'].sum()
print("Unique Word Counts 50s:",Total_unique_50_s)

Total words 50s: 8991
Unique Word Counts 50s: 3364

In [316]:
lyrics_50_words_s[lyrics_50_words_s['Word Counts']==lyrics_50_words_s['Word Counts'].max()]

,Decade,year,Artists,Title,Duration_ms,Lyrics,Sentiment,neg,neu,pos,compound,Word Counts,Unique Word Counts,new_col
9,1950,1959,Ray Charles,"What'd I Say, Pt. 1 & 2",307053.0,"whatâ€™d i say hey mama, don't you treat me ...","{'neg': 0.05, 'neu': 0.787, 'pos': 0.163, 'com...",0.05,0.787,0.163,0.9918,369,96,8

In [317]:
lyrics_50_words_s[lyrics_50_words_s['Word Counts']==lyrics_50_words_s['Word Counts'].min()]

,Decade,year,Artists,Title,Duration_ms,Lyrics,Sentiment,neg,neu,pos,compound,Word Counts,Unique Word Counts,new_col
44,1950,1957,Pat Boone,Love Letters In The Sand - Single Version,134560.0,love letters in the sand - single version on a...,"{'neg': 0.116, 'neu': 0.601, 'pos': 0.282, 'co...",0.116,0.601,0.282,0.9737,93,52,43

## The 60's

In [217]:
lyrics_60_senti = pd.read_csv('lyrics_60_senti.csv',index_col=0)

In [218]:
lyrics_60_words = count_words(lyrics_60_senti)
lyrics_60_words.to_csv("lyrics_60_words.csv")

In [318]:
lyrics_60_words['new_col'] = range(1, len(lyrics_60_words) + 1)
lyrics_60_words_s = lyrics_60_words[lyrics_60_words['new_col']<51]

Total_word_60_s = lyrics_60_words_s['Word Counts'].sum()
print("Total words 60s:",Total_word_60_s)
Total_unique_60_s = lyrics_60_words_s['Unique Word Counts'].sum()
print("Unique Word Counts 60s:",Total_unique_60_s)

Total words 60s: 9318
Unique Word Counts 60s: 4154

In [319]:
lyrics_60_words_s[lyrics_60_words_s['Word Counts']==lyrics_60_words_s['Word Counts'].max()]

,decade,year,title,artists,album.name,duration_ms,Lyrics,Sentiment,neg,neu,pos,compound,Word Counts,Unique Word Counts,new_col
1,1960,1965,Like a Rolling Stone,Bob Dylan,Highway 61 Revisited,369600.0,like a rolling stone once upon a time you dre...,"{'neg': 0.055, 'neu': 0.814, 'pos': 0.13, 'com...",0.055,0.814,0.13,0.9879,403,192,2

In [320]:
lyrics_60_words_s[lyrics_60_words_s['Word Counts']==lyrics_60_words_s['Word Counts'].min()]

,decade,year,title,artists,album.name,duration_ms,Lyrics,Sentiment,neg,neu,pos,compound,Word Counts,Unique Word Counts,new_col
49,1960,1961,At Last,Etta James,At Last!,179693.0,at last at last my love has come along my lon...,"{'neg': 0.046, 'neu': 0.724, 'pos': 0.23, 'com...",0.046,0.724,0.23,0.9655,95,58,50

## The 70's

In [225]:
lyrics_70_senti = pd.read_csv('lyrics_70_senti.csv',index_col=0)

In [227]:
lyrics_70_words = count_words(lyrics_70_senti)
lyrics_70_words.to_csv("lyrics_70_words.csv")

In [321]:
lyrics_70_words['new_col'] = range(1, len(lyrics_70_words) + 1)
lyrics_70_words_s = lyrics_70_words[lyrics_70_words['new_col']<51]

Total_word_70_s = lyrics_70_words_s['Word Counts'].sum()
print("Total words 60s:",Total_word_70_s)
Total_unique_70_s = lyrics_70_words_s['Unique Word Counts'].sum()
print("Unique Word Counts 70s:",Total_unique_70_s)

Total words 60s: 13061
Unique Word Counts 70s: 5480

In [322]:
lyrics_70_words_s[lyrics_70_words_s['Word Counts']==lyrics_70_words_s['Word Counts'].max()]

,Ranking,Decade,Year,Artists,Title,Lyrics,Sentiment,neg,neu,pos,compound,Word Counts,Unique Word Counts,new_col
22,24,1970,1978,Village People,Y.M.C.A,"Young man, there's no need to feel down\nI sai...","{'neg': 0.036, 'neu': 0.797, 'pos': 0.167, 'co...",0.036,0.797,0.167,0.997,462,126,22

In [324]:
lyrics_70_words_s[lyrics_70_words_s['Word Counts']==lyrics_70_words_s['Word Counts'].min()]

,Ranking,Decade,Year,Artists,Title,Lyrics,Sentiment,neg,neu,pos,compound,Word Counts,Unique Word Counts,new_col
50,52,1970,1971,Isaac Hayes,Theme from Shaft,Who's the black private dick that's a sex mach...,"{'neg': 0.136, 'neu': 0.864, 'pos': 0.0, 'comp...",0.136,0.864,0.0,-0.8611,86,68,50

## The 80's

In [230]:
lyrics_80_senti = pd.read_csv('lyrics_80_senti.csv',index_col=0)

In [231]:
lyrics_80_words = count_words(lyrics_80_senti)
lyrics_80_words.to_csv("lyrics_80_words.csv")

In [325]:
lyrics_80_words['new_col'] = range(1, len(lyrics_80_words) + 1)
lyrics_80_words_s = lyrics_80_words[lyrics_80_words['new_col']<51]

Total_word_80_s = lyrics_80_words_s['Word Counts'].sum()
print("Total words 80s:",Total_word_80_s)
Total_unique_80_s = lyrics_70_words_s['Unique Word Counts'].sum()
print("Unique Word Counts 80s:",Total_unique_80_s)

Total words 80s: 15158
Unique Word Counts 80s: 5480

In [326]:
lyrics_80_words_s[lyrics_80_words_s['Word Counts']==lyrics_80_words_s['Word Counts'].max()]

,Ranking,Decade,Year,Author,Song,Lyrics,Sentiment,neg,neu,pos,compound,Word Counts,Unique Word Counts,new_col
15,15,1980,1985,U.S.A. for Africa,We Are the World,There comes a time\nWhen we heed a certain cal...,"{'neg': 0.007, 'neu': 0.746, 'pos': 0.247, 'co...",0.007,0.746,0.247,0.9996,709,156,15

In [327]:
lyrics_80_words_s[lyrics_80_words_s['Word Counts']==lyrics_80_words_s['Word Counts'].min()]

,Ranking,Decade,Year,Author,Song,Lyrics,Sentiment,neg,neu,pos,compound,Word Counts,Unique Word Counts,new_col
12,12,1980,1980,Joy Division,Love Will Tear Us Apart,When routine bites hard and ambitions are low\...,"{'neg': 0.091, 'neu': 0.485, 'pos': 0.424, 'co...",0.091,0.485,0.424,0.9986,148,88,12

## The 90's

In [235]:
lyrics_90_senti = pd.read_csv('lyrics_90_senti.csv',index_col=0)

In [236]:
lyrics_90_words = count_words(lyrics_90_senti)
lyrics_90_words.to_csv("lyrics_90_words.csv")

In [328]:
lyrics_90_words['new_col'] = range(1, len(lyrics_90_words) + 1)
lyrics_90_words_s = lyrics_90_words[lyrics_90_words['new_col']<51]

Total_word_90_s = lyrics_90_words_s['Word Counts'].sum()
print("Total words 90s:",Total_word_90_s)
Total_unique_90_s = lyrics_90_words_s['Unique Word Counts'].sum()
print("Unique Word Counts 90s:",Total_unique_90_s)

Total words 90s: 17198
Unique Word Counts 90s: 6641

In [330]:
lyrics_90_words_s[lyrics_90_words_s['Word Counts']==lyrics_90_words_s['Word Counts'].max()]

,Ranking,Decade,Year,Artists,Title,Lyrics,Sentiment,neg,neu,pos,compound,Word Counts,Unique Word Counts,new_col
34,34,1990,1992,Sir Mix-A-Lot,Baby Got Back,"Oh my God Becky, look at her butt\nIt is so bi...","{'neg': 0.085, 'neu': 0.785, 'pos': 0.131, 'co...",0.085,0.785,0.131,0.9806,686,345,34

In [329]:
lyrics_90_words_s[lyrics_90_words_s['Word Counts']==lyrics_90_words_s['Word Counts'].min()]

,Ranking,Decade,Year,Artists,Title,Lyrics,Sentiment,neg,neu,pos,compound,Word Counts,Unique Word Counts,new_col
1,1,1990,1992,Whitney Houston,I Will Always Love You,If I should stay\nI would only be in your way\...,"{'neg': 0.008, 'neu': 0.564, 'pos': 0.428, 'co...",0.008,0.564,0.428,0.998,119,57,1

## The 2000's

In [99]:
lyrics_2000s_senti = pd.read_csv('lyrics_2000s_senti.csv',index_col=0)

In [100]:
lyrics_2000s_words = count_words(lyrics_2000s_senti)
lyrics_2000s_words.to_csv("lyrics_2000s_words.csv")

In [334]:
lyrics_2000s_words['new_col'] = range(1, len(lyrics_2000s_words) + 1)
lyrics_2000_words_s = lyrics_2000s_words[lyrics_2000s_words['new_col']<51]

Total_word_2000_s = lyrics_2000_words_s['Word Counts'].sum()
print("Total words 2000s:",Total_word_2000_s)
Total_unique_2000_s = lyrics_2000_words_s['Unique Word Counts'].sum()
print("Unique Word Counts 2000s:",Total_unique_2000_s)

Total words 2000s: 20348
Unique Word Counts 2000s: 6931

In [336]:
lyrics_2000_words_s[lyrics_2000_words_s['Word Counts']==lyrics_2000_words_s['Word Counts'].max()]

,Title,Popularity,Artists,Album_name,Duration_ms,Lyrics,Sentiment,neg,neu,pos,compound,Word Counts,Unique Word Counts,new_col
38,Stan,84,Eminem,The Marshall Mathers LP,404106,"stan my tea's gone cold, i'm wondering why i...","{'neg': 0.137, 'neu': 0.727, 'pos': 0.136, 'co...",0.137,0.727,0.136,-0.8514,1327,441,32

In [337]:
lyrics_2000_words_s[lyrics_2000_words_s['Word Counts']==lyrics_2000_words_s['Word Counts'].min()]

,Title,Popularity,Artists,Album_name,Duration_ms,Lyrics,Sentiment,neg,neu,pos,compound,Word Counts,Unique Word Counts,new_col
51,Use Somebody,77,Kings of Leon,Only By The Night,230760,"use somebody i've been roamin' around, always...","{'neg': 0.024, 'neu': 0.732, 'pos': 0.244, 'co...",0.024,0.732,0.244,0.9891,160,59,44

## The 2010's

In [7]:
lyrics_2010_senti = pd.read_csv('lyrics_2010_senti.csv',index_col=0)

In [8]:
lyrics_2010_words = count_words(lyrics_2010_senti)
lyrics_2010_words.to_csv("lyrics_2010_words.csv")

In [10]:
lyrics_2010_words['new_col'] = range(1, len(lyrics_2010_words) + 1)
lyrics_2010_words_s = lyrics_2010_words[lyrics_2010_words['new_col']<51]

Total_word_2010_s = lyrics_2010_words_s['Word Counts'].sum()
print("Total words 2010s:",Total_word_2010_s)
Total_unique_2010_s = lyrics_2010_words_s['Unique Word Counts'].sum()
print("Unique Word Counts 2010s:",Total_unique_2010_s)

Total words 2010s: 20718
Unique Word Counts 2010s: 7049

In [11]:
lyrics_2010_words_s[lyrics_2010_words_s['Word Counts']==lyrics_2010_words_s['Word Counts'].max()]

,Index,Decade,Year,Artist,Title,Lyrics,Sentiment,neg,neu,pos,compound,Word Counts,Unique Word Counts,new_col
7,8,2010,2013,Robin Thicke with T.I. & Pharrell Williams,Blurred Lines,"Everybody get up\nEverybody get up (hey, hey, ...","{'neg': 0.101, 'neu': 0.74, 'pos': 0.16, 'comp...",0.101,0.74,0.16,0.9852,759,265,8

In [12]:
lyrics_2010_words_s[lyrics_2010_words_s['Word Counts']==lyrics_2010_words_s['Word Counts'].min()]

,Index,Decade,Year,Artist,Title,Lyrics,Sentiment,neg,neu,pos,compound,Word Counts,Unique Word Counts,new_col
4,5,2010,2011,Gotye with Kimbra,Somebody That I Used to Know,Somebody That I Used to Know Gotye with Kimbra,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0,1.0,0.0,0.0,9,9,5

## General

In [303]:
decade = (1920,1930,1940,1950,1960,1970,1980,1990,2000,2010)
total_word = (Total_word_20,Total_word_30,Total_word_40,Total_word_50,Total_word_60,Total_word_70,Total_word_80,Total_word_90,Total_word_2000,Total_word_2010)
total_unique = (Total_unique_20,Total_unique_30,Total_unique_40,Total_unique_50,Total_unique_60,Total_unique_70,Total_unique_80,Total_unique_90,Total_unique_2000,Total_unique_2010)

In [305]:
dic = {'Decade':decade,
       'Total_words':total_word,
       'Total_unique_words':total_unique
}

In [306]:
df = pd.DataFrame(dic)
df

   Decade  Total_words  Total_unique_words
0    1920         5263                2499
1    1930         5702                2885
2    1940         9753                4686
3    1950        11144                4370
4    1960        10545                4697
5    1970        23114                9605
6    1980        28852               10814
7    1990        34106               12777
8    2000        34300               11378
9    2010        32521               11066

In [248]:
df.to_csv("df_total_words.csv")

In [312]:
# 50 first rows
decade = (1920,1930,1940,1950,1960,1970,1980,1990,2000,2010)
total_word = (Total_word_20,Total_word_30,Total_word_40_s,Total_word_50_s,Total_word_60_s,Total_word_70_s,Total_word_80_s,Total_word_90_s,Total_word_2000_s,Total_word_2010_s)
total_unique = (Total_unique_20,Total_unique_30,Total_unique_40_s,Total_unique_50_s,Total_unique_60_s,Total_unique_70_s,Total_unique_80_s,Total_unique_90_s,Total_unique_2000_s,Total_unique_2010_s)

dic_50 = = {'Decade':decade,
       'Total_words':total_word,
       'Total_unique_words':total_unique
}

df_50 = pd.DataFrame(dic_50)
df_50

NameError: name 'Total_word_50_s' is not defined